node_modules
npm-debug.log

pids
logs
results

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

public/files/*
!public/files/.gitkeep
tmp/*
/conf/envLocal.js

/.idea
/bin/run_reindex_demon.cmd
/bin/start-search-demon.cmd
/bin/stop-search-demon.cmd
/bin/run-reindex-demon.cmd
