<div class="row">
  <div class="span9">
    <hr/>
    <footer><s>Всем похiй</s> помощь всегда нужна, тыкать сюда: <a href="http://friendfeed.com/epicmonkey">@epicmonkey</a> или сюда <a href="https://github.com/epicmonkey/pepyatka"><i class="icon-github"></i> github</a>. It's already available... for free. For free? We can do anything. That's fucking brilliant, that is. Have you seen this? This is fucking brilliant.</footer>
  </div>
</div>
