<!DOCTYPE html>
<html>
  <head>
    <title>Application</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
    <link rel="stylesheet" href='/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/morda.css' />
    <link rel='stylesheet' href='/css/select2.css' />
    <link rel='stylesheet' href='/css/mediaelementplayer.min.css' />

    <script type="text/javascript">var csrf_token = '<%= csrf_token %>'</script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
