<!DOCTYPE html>
<html>
  <head>
    <title>ff/b/</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/morda.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
