<!DOCTYPE html>
<html>
  <head>
    <title>FF/B</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/morda.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
