a, a:hover {
    cursor: pointer;
    color: #000088;
}

hr {
    margin: 10px 0;
}

script {
    margin: 0;
    padding: 0;
}

footer {
    font-size: 10px;
    color: #aaa;
}

.container .title a {
    color: #000;
}
.container .well {
    margin: 0;
    padding: 10px;
}
.container .signin-toolbar {
    margin-top: 10px;
}
.container .comment-area {
    height: 16px;
    font-size: 13px;
    line-height: 16px;
}
.container .comment-area {
    width: 600px;
}
.container .a-post .comment-area {
    width: 586px;
}
.container span.file-input-name {
    display: block;
    float: right;
    height: 18px;
    margin: 4px 0 0 4px;
    overflow: hidden;
    width: 300px; /* 450px */
}

.profile a {
    color: #000;
}
.profile .author {
    font-weight: bold
}

.post .author {
    margin-bottom: 0;
    font-size: 14px;
}
.post .author a {
    color: #000088;
}
.post .tagline a, .post .text a, .post .comments .author a,
  .post .comments .more-comments a, .comments .body a, .post .new-comment-link a,
  .post .likes a {
    color: #555599;
}
.post .text a {
    color: #000088;
}
.post .body .text {
    color: #000
}
.post .text .read-more a, .comments .body .read-more a {
    font-style: italic;
}
.post .body .image {
    margin: 3px 0;
}
.post .tagline .datetime {
    color: #666;
}
.post .tagline div {
    display: inline;
}
.post .tagline, .post .comments, .post .comments .author {
    font-size: 13px;
}
.post .comments {
    color: #666;
}
.post .comments li {
    line-height: 16px;
}
.post .comments .media {
    margin: 5px 0 7px 0;
}
.post .comments .more-comments {
    font-style: italic;
    margin: 3px 0 7px 20px;
}
.post .comments .pull-left, .post .comment-form .pull-left,
  .post .new-comment-link .pull-left, .post .likes .pull-left {
    margin-right: 4px;
}
.post .likes {
    font-size: 13px;
    margin: 2px 0 0 0;
}
.post .likes .media-object {
    color: #fc4;
}
.post .likes li {
    padding: 0;
}
.post .likes li span.and {
    display: none;
}
/*.post .likes li.last span.and {
    display: inline;
}*/
.post .likes li.last span.comma {
    display: none;
}
.post .likes li.first span.comma {
    display: none;
}
.post .likes ul .pull-left {
    margin: 0;
}

.post .new-comment-link {
    margin: 0;
    font-size: 13px;
    color: #666;
    font-style: italic;
}

.post .comment-form {
    font-size: 13px;
    margin: 4px 0 0 0;
    color: #666;
}
.post .comment-form a {
    color: #000088;
}

.container .submitForm {
    margin: 0 0 8px 0;
}
.container .submitForm textarea {
    color: #000;
}

.a-post .post .body .text, .a-post .post .author {
    font-size: 21px;
    line-height: normal;
}
.a-post .post .author {
    margin: 0 0 3px 0;
}
.a-post .comments .author {
    font-size: 13px;
}

