<h3>{{t header.subscriprions}} {{App.subscriptionsController.info.screenName}}</h3>

<ul>
  {{#each content}}
    <li>{{#link-to 'user' user.username}}{{user.info.screenName}}{{/link-to}}</li>
  {{/each}}
</ul>
