<style type="text/css">
input, textarea {
  padding: 4px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 320px;
  background: #FFFFFF;
}

textarea {
  width: 320px;
  max-width: 320px;
  height: 80px;
  line-height: 150%;
}

#p_image {
  font-size: 14px;
}
#p_image img {
  max-width: 320px;
  max-height: 320px;
}
</style>

<form method="post" action="/bookmarklet">
  <input type="text" id="p_title" name="title" value="<%= req.query.title %>" />
  <textarea type="text" id="p_comment" name="comment"><%= req.query.comment %></textarea>
  <div id="p_image">No image</div>
  <input type="hidden" id="p_image_src" name="image" value="" />
  <input type="hidden" name="csrf_token" value="<%= csrf_token %>" />

  <input type="submit" value="Share" />
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
if ("onhashchange" in window) { // event supported?
  window.onhashchange = function () {
    hashChanged(window.location.hash.slice(1));
  }
} else { // event not supported:
  var storedHash = window.location.hash;
  window.setInterval(function () {
    if (window.location.hash != storedHash) {
      storedHash = window.location.hash.slice(1);
      hashChanged(storedHash);
    }
  }, 100);
}

function hashChanged(url) { // user has selected an image on parent frame
  $('#p_image').html('<div><img src="' + url + '" /></div>')
  $('#p_image_src').attr('value', url)
}
</script>
