<% layout('../../layouts/ember.ejs') -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/holder.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/handlebars-1.0.rc.1.js"></script>
<script src="/js/libs/jquery.anchorlinks.js"></script>
<script src="/js/libs/jquery.expander.min.js"></script>
<script src="/js/libs/jquery.autogrow-textarea.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap.file-input.js"></script>
<script src="/js/libs/ember-1.0.0-pre.2.js"></script>
<script src="/js/libs/ember-bootstrap.prod.js"></script>

<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1 class="title">
          <a {{action showAllPosts href="true"}}>Pepyatka</a>
        </h1>
        <hr/>
      </div>

      <% if (!req.user || req.user.username == 'anonymous') { %>
        <div class="span3 signin-toolbar">
          <a href="/session">Sign in</a>
          or
          <a href="/signup">Join Pepyatka</a>
        </div>
      <% } %>
    </div>

    <div class="row">
      <div class="span9">
        {{outlet}}
      </div>

      <div class="span3">
        <div class="media profile">
          <div class="pull-left">
            <img class="media-object" src="/img/48x48.png">
          </div>

          <div class="media-body">
            <div class="author">
              <a><%= req.user.username %></a>
            </div>
            <div>

              <a>settings</a>
              -
              <a href="/logout">sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../../layouts/_footer %>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="just-started">
  {{#if view.justStarted}}
    <div class="well">
      Seems like you've just started using Pepyatka? Check out <a href="/#/users/anonymous">anonymous posts</a>.
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="post-list-view">
  <div class="clearfix submitForm">
    <div>
      {{view App.CreatePostView target="parentView" action="submitPost"
            class="span9"}}
    </div>
    <div class="pull-left">
      Add image: {{view App.UploadFileView name="image"}}
    </div>
    <div class="pull-right">
      <button {{action submitPost target="view"}} class="btn pull-right">Post</button>
    </div>
  </div>

  <div id="progressBar" {{bindAttr class="App.postsController.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true 
        progressBinding="App.postsController.progress"}}
  </div>

  {{view App.JustStarted}}

  <ul class="media-list">
    {{view Ember.CollectionView contentBinding="App.postsController"
           itemViewClass="App.PostContainerView"}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="comment-view">
  <li class="media">
    {{#with view.content}}
      <div class="pull-left">
        <i class="icon-comment-alt media-object"></i>
      </div>
      <div class="media-body">
        <span class="body">
          {{body}}
        </span>
        - 
        <span class="author">
          <a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a>
        </span>
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="like-view">
  {{#with view.content}}
    <span class="and">and&nbsp;</span><a {{action showUserTimeline username href="true"}}>{{username}}</a><span class="comma">,&nbsp;</span>
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="post-view">
  <li class="media">
    {{#with view.content}}  
      <hr/>
      
      <div class="pull-left">
        <img class="media-object" src="/img/48x48.png">
      </div>

      <div class="media-body post">
        <h5 class="media-heading author"><a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a></h5>

        <div class="body">
          <div class="text">{{body}}</div>
          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>

        <div class="tagline">
          <a {{action showPost this href="true"}} class="datetime">
            <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
          </a>

          {{#view App.CommentPostView}}
            -
            <a {{action toggleVisibility target="parentView"}}>Comment</a>
          {{/view}}

          {{#unless currentUserLiked}}
            {{#view App.LikePostView}}
              -
              <a {{action likePost target="parentView"}}>Like</a>
            {{/view}}
          {{/unless}}
        </div>

        {{#if anyLikes}}
          <div class="media likes">
            <div class="pull-left">
              <i class="icon-heart media-object"></i>
            </div>

            <div class="media-body">
              <ul class="unstyled inline pull-left">
                {{view Ember.CollectionView contentBinding="likes"
                       itemViewClass="App.LikeView"}}
              </ul>
              <span>liked this</span>
              {{#if currentUserLiked}}
                <span>(<a {{action unlikePost target="parentView"}}>Un-like</a>)</span>
              {{/if}}
            </div>
          </div>
        {{/if}}
    
        <ul class="unstyled comments">
          {{#if partial}}
            {{view App.CommentContainerView contentBinding="firstComment"}}
            <li class="media more-comments">
              <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} more comments</a>
            </li>
            {{view App.CommentContainerView contentBinding="lastComment"}}
          {{else}}
            {{view Ember.CollectionView contentBinding="comments"
                   itemViewClass="App.CommentContainerView"}}

            {{#view App.CommentPostViewSubst}}
              <li class="media new-comment-link">
                <i class="icon-pencil media-object pull-left"></i>
                <div class="media-body">
                    <a {{action toggleVisibility target="view"}}>Add comment</a>
                </div>
              </li>
            {{/view}}
          {{/if}}
        </ul>
    
        {{#view App.CommentForm}}
          <div class="comment-form media">
            <i class="icon-comment-alt media-object pull-left"></i>
            <div class="media-body">
              <div>
                {{view App.CreateCommentView target="parentView"
                      action="submitComment" valueBinding="view.body"
                      class="span8 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
                <a {{action toggleVisibility target="parentView"}}>Cancel</a>
              </div>
            </div>
          </div>
        {{/view}}
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="a-post">
  <div class="media a-post">
    <div class="pull-left">
      <img class="media-object" src="/img/64x64.png">
    </div>
    
    <div class="media-body post">
      <h5 class="media-heading author"><a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a></h5>
    
      <div class="body">
        <div class="text">{{body}}</div>
        {{#if firstThumbnailSrc}}
          <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
        {{/if}}
      </div>
    
      <div class="tagline">
        <a {{action showPost this}} class="datetime">
          <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
        </a>
        {{#view App.CommentPostView}}
          -
          <a {{action toggleVisibility target="parentView"}}>Comment</a>
        {{/view}}
      </div>
    
      <ul class="unstyled comments">
        {{view Ember.CollectionView contentBinding="comments"
               itemViewClass="App.CommentContainerView"}}
      </ul>
    
      {{#view App.CommentForm}}
        <div class="comment-form media">
          <i class="icon-comment-alt media-object pull-left"></i>
          <div class="media-body">
            <div>
              {{view App.CreateCommentView target="parentView"
                    action="submitComment" valueBinding="view.body"
                    class="span7 input-tiny comment-area"}}
            </div>
            <div>
              <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
              <a {{action toggleVisibility target="parentView"}}>Cancel</a>
            </div>
          </div>
        </div>
      {{/view}}
    </div>
  </div>
</script>

<script src="/js/app/app.js"></script>

<script>
  var socket = io.connect('/');
  var currentUser = '<%= req.user.id %>'

  socket.emit('subscribe', { userId: '<%= req.user.id %>' });

  socket.on('newPost', function (data) {
    var post = App.Post.create(data.post)

    App.postsController.addObject(post)
  });

  socket.on('updatePost', function(data) {
  })

  socket.on('destroyPost', function(data) {
    App.postsController.removePost('id', data.postId)
  })

  socket.on('newComment', function (data) {
    var comment = App.Comment.create(data.comment)
   
    var post = App.postsController.find(function(post) {
      return post.id == data.comment.postId
    })

    if (post) {
      post.set('updatedAt', comment.createdAt)
      post.comments.pushObject(comment)
    }
  });

  socket.on('newLike', function(data) {
    var user = App.User.create(data.user)

    var post = App.postsController.find(function(post) {
      return post.id == data.postId
    })

    if (post) {
      // TODO: set currentTime to bump the post
      // post.set('updatedAt', currentTime)

      var like = post.likes.find(function(like) {
        return like.id == user.id
      })

      if (!like) {
        post.likes.pushObject(user)
      }
    }
  })

  socket.on('removeLike', function(data) {
    var post = App.postsController.find(function(post) {
      return post.id == data.postId
    })

    if (post) {
      // TODO: set currentTime to bump the post
      // post.set('updatedAt', currentTime)

      post.removeLike('id', data.userId)
    }
  })

  socket.on('updateComment', function(data) {
  })

  socket.on('destroyComment', function(data) {
  })
</script>
