<% layout('../../layouts/layout.ejs') -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/holder.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/handlebars-1.0.rc.1.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/ember-1.0.0-pre.2.js"></script>
<script src="/js/libs/ember-bootstrap.prod.js"></script>

<script src="/js/libs/bootstrap.file-input.js"></script>

<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h1><a {{action showAllPosts}}>ff/b/</a></h1>

    <div class="row">
      <div class="span7">
        {{outlet}}

        <hr/>
        <footer><s>Всем похiй</s> помощь всегда нужна, тыкать сюда: <a href="http://friendfeed.com/epicmonkey">@epicmonkey</a>. It's already available... for free. For free? We can do anything. That's fucking brilliant, that is. Have you seen this? This is fucking brilliant.</footer>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="post-list-view">
  <div class="clearfix submitForm">
    <div>
      {{view App.CreatePostView target="parentView" action="submitPost"
            class="span7"}}
    </div>
    <div class="pull-left">
      Add image: {{view App.UploadFileView name="image"}}
    </div>
    <div class="pull-right">
      <button {{action submitPost target="view"}} class="btn pull-right">Post</button>
    </div>
  </div>

  <div id="progressBar" {{bindAttr class="App.postsController.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true 
        progressBinding="App.postsController.progress"}}
  </div>

  <ul class="media-list">
    {{view Ember.CollectionView contentBinding="App.postsController"
           itemViewClass="App.PostContainerView"}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="comment-view">
  <li class="media">
    {{#with view.content}}  
      <div class="pull-left">
        <i class="icon-comment-alt media-object"></i>
      </div>
      <div class="media-body">
        <span class="body">
          {{body}}
        </span>
        - 
        <span class="author">
          <a>{{createdBy.username}}</a>
        </span>
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="post-view">
  <li class="media">
    {{#with view.content}}  
      <hr/>
      
      <div class="pull-left">
        <img class="media-object" src="/img/48x48.png">
      </div>

      <div class="media-body post">
        <h5 class="media-heading author"><a>{{createdBy.username}}</a></h5>

        <div class="body">
          <div class="text">{{body}}</div>
          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>

        <div class="tagline">
          <a {{action showPost this href="true"}} class="datetime">
            <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
          </a>
          -
          {{#view App.CommentPostView target="parentView" action="toggleVisibility"}}
            Comment
          {{/view}}
        </div>
    
        <ul class="unstyled comments">
          {{#if partial}}
            {{view App.CommentContainerView contentBinding="firstComment"}}
            <li class="media more-comments">
              <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} more comments</a>
            </li>
            {{view App.CommentContainerView contentBinding="lastComment"}}
          {{else}}
            {{view Ember.CollectionView contentBinding="comments"
                   itemViewClass="App.CommentContainerView"}}
          {{/if}}
        </ul>
    
        {{#view App.CommentForm}}
          <div class="comment-form">
            <div>
              {{view App.CreateCommentView target="parentView" 
                    action="submitComment" valueBinding="view.body"
                    class="span6 input-tiny"}}
            </div>
            <div>
              <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
              <a {{action toggleVisibility target="parentView"}}>Cancel</a>
            </div>
          </div>
        {{/view}} 
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="a-post">
  <div class="media a-post">
    <div class="pull-left">
      <img class="media-object" src="/img/64x64.png">
    </div>
    
    <div class="media-body post">
      <h5 class="media-heading author"><a>{{createdBy.username}}</a></h5>
    
      <div class="body">
        <div class="text">{{body}}</div>
        {{#if firstThumbnailSrc}}
          <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
        {{/if}}
      </div>
    
      <div class="tagline">
        <a {{action showPost this}} class="datetime">
          <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
        </a>
        -
        {{#view App.CommentPostView target="parentView" action="toggleVisibility"}}
          Comment
        {{/view}}
      </div>
    
      <ul class="unstyled comments">
        {{view Ember.CollectionView contentBinding="comments"
               itemViewClass="App.CommentContainerView"}}
      </ul>
    
      {{#view App.CommentForm}}
        <div class="comment-form">
          <div>
            {{view App.CreateCommentView target="parentView" 
                  action="submitComment" valueBinding="view.body"
                  class="span6 input-tiny"}}
          </div>
          <div>
            <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
            <a {{action toggleVisibility target="parentView"}}>Cancel</a>
          </div>
        </div>
      {{/view}}
    </div>
  </div>
</script>

<script src="/js/app/app.js"></script>

<script>
  var socket = io.connect('/');

  socket.emit('subscribe', { username: '<%= currentUser.username %>' });

  socket.on('newPost', function (data) {
    var post = App.Post.create(data.post)

    App.postsController.addObject(post)
  });

  socket.on('updatePost', function(data) {
  })

  socket.on('destroyPost', function(data) {
    App.postsController.removePost('id', data.postId)
  })

  socket.on('newComment', function (data) {
    var comment = App.Comment.create(data.comment)
   
    var post = App.postsController.find(function(post) {
      return post.id == data.comment.postId
    })

    if (post) {
      post.set('updatedAt', comment.createdAt)
      post.comments.pushObject(comment)

      // TODO: do not know how to bind from Ember.JS
      post.set('lastComment', function() {
        return post;
      })

      // TODO: do not know how to bind from Ember.JS.
      var len = post.get('skippedCommentsLength')
      post.set('skippedCommentsLength', len + 1)
    }
  });

  socket.on('updateComment', function(data) {
  })

  socket.on('destroyComment', function(data) {
  })
</script>
