<% layout('../../layouts/ember.ejs') -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/holder.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/handlebars-1.0.0-rc.3.js"></script>
<script src="/js/libs/jquery.anchorlinks.js"></script>
<script src="/js/libs/jquery.hashtags.js"></script>
<script src="/js/libs/jquery.highlight-search-results.js"></script>
<script src="/js/libs/jquery.expander.min.js"></script>
<script src="/js/libs/jquery.autogrow-textarea.js"></script>
<script src="/js/libs/core_ext.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap.file-input.js"></script>
<script src="/js/libs/ember-1.0.0-rc.3.js"></script>
<script src="/js/libs/ember-bootstrap.prod.js"></script>
<script src="/js/libs/ember-i18n.js"></script>
<script src="/js/libs/ember-data-0.5.0.pre.js"></script>
<script src="/js/libs/jquery.history.js"></script>
<script src="/config/envLocal.js"></script>

<script type="text/x-handlebars" id="application">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1 class="title">
          <a href="/">{{t title.title}}</a> <small class="mutted">{{t label.version}}</small>
        </h1>
      </div>

      <div class="span4 searchFieldView clearfix">
        <div>
          {{view App.CreateSearchFieldView action="searchPhrase" target="controller" class="span3"}}
          <button {{action searchPhrase}} class="btn pull-right">{{t button.search}}</button>
        </div>
      </div>

      <% if (!conf.remoteUser) { %>
        <% if (!req.user || req.user.username == 'anonymous') { %>
          {{#unless App.properties.isAuthorized}}
            <div class="span3 signin-toolbar">
              {{#linkTo 'signin'}}{{t label.signin}}{{/linkTo}}
              or
              {{#linkTo 'signup'}}{{t label.signup}}{{/linkTo}}
            </div>
          {{/unless}}
        <% } %>
      <% } %>
    </div>


    <div class="row">
      <div class="span9">
        {{outlet}}
      </div>

      <div class="span3">
        <% if (req.user) { %>
          <div class="media profile">
            <div class="pull-left">
              <img class="media-object" src="/img/48x48.png">
            </div>

            <div class="media-body">
              <div class="author">
                {{#linkTo user App.properties.username}}{{App.properties.username}}{{/linkTo}}
              </div>
              <div>

                <!--<a>{{t label.settings}}</a>
                --->
                <% if (!conf.remoteUser) { %>
                  <a href="/logout">{{t label.signout}}</a>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>

      <div class="span3">
        <div>
          <h5>{{t header.groups}}</h5>

          {{view App.GroupsView}}
          <p><small>{{#linkTo 'groups'}}{{t label.createGroup}}{{/linkTo}}</small></p>
        </div>

        <div>
          <h5>{{t header.tags}}</h5>

          {{view App.Tags}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <hr/>
        <footer>{{t message.footer}}</footer>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="tags">
  {{#each tag in controllers.tags}}
    <li>{{#linkTo feedSearch tag.name}}{{decodeURIComponent tag.name}}{{/linkTo}}</li>
  {{/each}}
</script>

<script type="text/x-handlebars" id="groups">
  {{#each group in controllers.groups}}
    <li>{{#linkTo user group.user.username}}{{group.user.username}}{{/linkTo}}</li>
  {{/each}}
</script>

<script type="text/x-handlebars" id="pagination">
  <ul class="pager">
    {{#if prevPageVisible}}
      <li {{bindAttr class="prevPageDisabled"}}><a {{action prevPage href="true" target="controller"}}>{{t button.previous}}</a></li>
    {{else}}
    {{/if}}

    {{#if nextPageVisible}}
      <li {{bindAttr class="nextPageDisabled"}}><a {{action nextPage href="true" target="controller"}}>{{t button.next}}</a></li>
    {{else}}
    {{/if}}
  </ul>
</script>

<script type="text/x-handlebars" id="just-started">
  {{#if view.justStarted}}
    <div class="alert alert-info">
      {{t message.welcome}}<button class="close" data-dismiss="alert">&times;</button>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" id="search-list-view">
  <div class="offset4 spinner">
    <img src="/img/spinner.gif" width="32" height="32" />
  </div>

  <div class="posts">
    <ul class="media-list">
      {{view Ember.CollectionView contentBinding="App.searchController"
             itemViewClass="App.PostContainerView"}}
    </ul>

    {{view App.Pagination}}
  </div>
</script>

<script type="text/x-handlebars" id="timeline">
  <% if (req.user) { %>
    <div class="clearfix submitForm">
      <div>
        {{view App.CreatePostView target="controller" action="submitPost"
              class="span9"}}
      </div>
      <div class="pull-left">
        {{t label.add.image}}{{view App.UploadFileView name="image"}}
      </div>
      <div class="pull-right">
        <button {{action submitPost target="controller"}} class="btn pull-right">{{t button.post}}</button>
      </div>
    </div>
  <% } %>

  <div id="progressBar" {{bindAttr class="controller.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true
        progressBinding="controller.progress"}}
  </div>

  {{view App.JustStarted}}

  <div class="offset4 spinner">
    <img src="/img/spinner.gif" width="32" height="32" />
  </div>

  <div class="posts">
    <ul class="media-list">
      {{each controller.posts itemViewClass="App.PartialPostView" itemController="post"}}
    </ul>

    {{view App.Pagination}}
  </div>
</script>

<script type="text/x-handlebars" id="comment-view">
  <li class="media">
    {{#with view.content}}
      <div class="pull-left">
        <i class="icon-comment-alt media-object"></i>
      </div>

      {{#unless view.isEditFormVisible}}
        <div class="media-body">
          <span class="body">
            {{body}}
          </span>
          -
          <span class="author">
            {{#linkTo user createdBy.username}}
              {{#if view.commentOwner}}
                {{t label.you}}
              {{else}}
                {{createdBy.username}}
              {{/if}}
            {{/linkTo}}
          </span>

          {{#if view.commentOwner}}
            <span class="links">
              (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
              |
              <a {{action destroyComment target="view"}}>{{t label.delete}}</a>)
            </span>
          {{/if}}
        </div>
      {{else}}
        {{#view App.EditCommentForm}}
          <div class="comment-form media">
            <div class="media-body">
              <div>
                {{view App.CreateCommentView target="parentView"
                      action="updateComment" valueBinding="view.body"
                      class="span7 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action updateComment target="view"}} class="btn btn-small">{{t button.post}}</button>
                <a {{action editFormVisibility target="parentView"}}>{{t label.cancel}}</a>
              </div>
            </div>
          </div>
        {{/view}}
      {{/unless}}
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" id="like-view">
  {{#with view.content}}
    <span class="and">and&nbsp;</span>{{#linkTo user username}}{{username}}{{/linkTo}}<span class="comma">,&nbsp;</span>
  {{/with}}
</script>

<script type="text/x-handlebars" id="_post">
  <li class="media post-container">
    <hr/>

    <div class="pull-left">
      <img class="media-object" src="/img/48x48.png">
    </div>

    <div class="media-body post">
      <h5 class="media-heading author">
        {{#linkTo user createdBy.username}}{{createdBy.username}}{{/linkTo}}

        {{#if view.groupsNames}}
          ({{#linkTo user view.groupsNames}}{{view.groupsNames}}{{/linkTo}})
        {{/if}}
      </h5>

      {{#if view.isEditFormVisible}}
        {{#view App.EditPostForm}}
          <div class="edit-post-form media">
            <div class="media-body">
              <div>
                {{view App.CreatePostView action="update" target="controller"
                      class="span8 input-tiny comment-area"
                      viewName="textField"}}
              </div>
              <div>
                <button {{action update view.textField target="controller"}} class="btn btn-small">{{t button.post}}</button>
                <a {{action toggleVisibility target="view"}}>{{t label.cancel}}</a>
              </div>
            </div>
          </div>
        {{/view}}
      {{else}}
        <div class="body">
          <div class="text">{{body}}</div>

          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>
      {{/if}}

      <div class="tagline">
        {{#linkTo 'post' this class="datetime"}}<time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>{{/linkTo}}

        {{#if currentUser}}
          {{#view App.CommentPostView}}
            -
            <a {{action toggleVisibility target="view"}}>{{t label.comment}}</a>
          {{/view}}

          {{#unless currentUserLiked}}
            -
            <a {{action like id target="controller"}}>{{t label.like}}</a>
          {{/unless}}

          {{#if postOwner}}
            (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
            |
            <a {{action destroy id target="controller"}}>{{t label.delete}}</a>)
          {{/if}}
        {{/if}}
      </div>

      {{#if anyLikes}}
        <div class="media likes">
          <div class="pull-left">
            <i class="icon-heart media-object"></i>
          </div>

          <div class="media-body">
            <ul class="unstyled inline pull-left">
              {{view Ember.CollectionView contentBinding="likes"
                     itemViewClass="App.LikeView"}}
            </ul>
            <span class="liked">{{t label.liked}}</span>
            {{#if currentUserLiked}}
              <span>(<a {{action unlike id target="controller"}}>{{t label.unlike}}</a>)</span>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <ul class="unstyled comments">
        {{#if partial}}
          {{view App.CommentContainerView contentBinding="firstComment"}}
          <li class="media more-comments">
            <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} {{t label.moreComments}}</a>
          </li>
          {{view App.CommentContainerView contentBinding="lastComment"}}
        {{else}}
          {{view Ember.CollectionView contentBinding="comments"
                 itemViewClass="App.CommentContainerView"}}

          {{#view App.CommentPostViewSubst}}
            <li class="media new-comment-link">
              <i class="icon-pencil media-object pull-left"></i>
              <div class="media-body">
                  <a {{action toggleVisibility target="view"}}>{{t label.addComment}}</a>
              </div>
            </li>
          {{/view}}
        {{/if}}
      </ul>

      {{#view App.CommentForm}}
        <div class="comment-form media">
          <i class="icon-comment-alt media-object pull-left"></i>
          <div class="media-body">
            <div>
              {{view App.CreateCommentView target="parentView"
                    action="submitComment" valueBinding="view.body"
                    class="span8 input-tiny comment-area"}}
            </div>
            <div>
              <button {{action submitComment target="view"}} class="btn btn-small">{{t button.post}}</button>
              <a {{action cancelComment target="view"}}>{{t label.cancel}}</a>
            </div>
          </div>
        </div>
      {{/view}}
    </div>
  </li>
</script>

<script type="text/x-handlebars" id="own-post-view">
  <li class="media">
    {{#with view.content}}
      <hr/>

      <div class="media-body post">
        {{#if view.isEditFormVisible}}
          {{#view App.EditPostForm}}
            <div class="edit-post-form media">
              <div class="media-body">
                <div>
                  {{view App.CreatePostView target="parentView"
                        action="updatePost" valueBinding="view.body"
                        class="span8 input-tiny comment-area"}}
                </div>
                <div>
                  <button {{action updatePost target="view"}} class="btn btn-small">{{t button.post}}</button>
                  <a {{action toggleVisibility target="parentView"}}>{{t label.cancel}}</a>
                </div>
              </div>
            </div>
          {{/view}}
        {{else}}
          <div class="body">
            <div class="text">{{body}}</div>

            {{#if firstThumbnailSrc}}
              <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
            {{/if}}
          </div>
        {{/if}}

        <div class="tagline">
          {{#linkTo 'post' this class="datetime"}}<time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>{{/linkTo}}

          {{#if currentUser}}
            {{#view App.CommentPostView}}
              -
              <a {{action toggleVisibility target="view"}}>{{t label.comment}}</a>
            {{/view}}

            {{#unless currentUserLiked}}
              -
              <a {{action like id target="controller"}}>{{t label.like}}</a>
            {{/unless}}

            {{#if postOwner}}
              (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
              |
              <a {{action destroy id target="controller"}}>{{t label.delete}}</a>)
            {{/if}}
          {{/if}}
        </div>

        {{#if anyLikes}}
          <div class="media likes">
            <div class="pull-left">
              <i class="icon-heart media-object"></i>
            </div>

            <div class="media-body">
              <ul class="unstyled inline pull-left">
                {{view Ember.CollectionView contentBinding="likes"
                       itemViewClass="App.LikeView"}}
              </ul>
              <span class="liked">{{t label.liked}}</span>
              {{#if currentUserLiked}}
                <span>(<a {{action unlike id target="controller"}}>{{t label.unlike}}</a>)</span>
              {{/if}}
            </div>
          </div>
        {{/if}}

        <ul class="unstyled comments">
          {{#if partial}}
            {{view App.CommentContainerView contentBinding="firstComment"}}
            <li class="media more-comments">
              <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} {{t label.moreComments}}</a>
            </li>
            {{view App.CommentContainerView contentBinding="lastComment"}}
          {{else}}
            {{view Ember.CollectionView contentBinding="comments"
                   itemViewClass="App.CommentContainerView"}}

            {{#view App.CommentPostViewSubst}}
              <li class="media new-comment-link">
                <i class="icon-pencil media-object pull-left"></i>
                <div class="media-body">
                    <a {{action toggleVisibility target="view"}}>{{t label.addComment}}</a>
                </div>
              </li>
            {{/view}}
          {{/if}}
        </ul>

        {{#view App.CommentForm}}
          <div class="comment-form media">
            <i class="icon-comment-alt media-object pull-left"></i>
            <div class="media-body">
              <div>
                {{view App.CreateCommentView target="parentView"
                      action="submitComment" valueBinding="view.body"
                      class="span8 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action submitComment target="view"}} class="btn btn-small">{{t button.post}}</button>
                <a {{action cancelComment target="parentView"}}>{{t label.cancel}}</a>
              </div>
            </div>
          </div>
        {{/view}}
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" id="user-timeline">
  <div class="row">
    <div class="span9 media">
      <div class="pull-left">
        <img class="media-object" src="/img/64x64.png">
      </div>

      <div class="media-body">
        <h3 class="pull-left">{{content.user.username}}</h3>

        <div class="pull-right profile-extra-info">
          {{#if content.user.subscriptionsLength}}
            <div>{{#linkTo feedSubscriptions App.postsController.timeline}}{{content.user.subscriptionsLength}} {{t label.subscriptions}}{{/linkTo}}</div>
          {{/if}}

          {{#if content.user.subscribersLength}}
            <div>{{#linkTo feedSubscribers App.postsController.timeline}}{{content.user.subscribersLength}} {{t label.subscribers}}{{/linkTo}}</div>
          {{/if}}

          {{#if content.user.postsLength}}
            <div>{{#linkTo user App.postsController.timeline}}{{content.user.postsLength}} {{t label.posts}}{{/linkTo}}</div>
          {{/if}}

          {{#if content.user.likesLength}}
            <div>{{#linkTo likes App.postsController.timeline}}{{content.user.likesLength}} {{t label.likes}}{{/linkTo}}</div>
          {{/if}}

          {{#if content.user.commentsLength}}
            <div>{{#linkTo comments App.postsController.timeline}}{{content.user.commentsLength}} {{t label.comments}}{{/linkTo}}</div>
          {{/if}}

          {{#unless content.user.ownProfile}}
            {{#if view.currentUser}}
              <div class="row profile-actions">
                {{#if content.user.subscribedTo}}
                  <a {{action unsubscribeTo target="view"}}>{{t label.unsubscribe}}</a>
                {{/if}}
              </div>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>
  </div>

  {{#if view.showPostCreationForm}}
    <div class="postCreationField">
      <div class="clearfix submitForm">
        <div>
          {{view App.CreatePostView target="parentView" action="submitPost"
                class="span9"}}
        </div>
        <div class="pull-left">
          {{t label.add.image}}{{view App.UploadFileView name="image"}}
        </div>
        <div class="pull-right">
          <button {{action submitPost target="view"}} class="btn pull-right">{{t button.post}}</button>
        </div>
      </div>
    </div>
  {{/if}}

  {{#unless view.ownProfile}}
    {{#if view.currentUser}}
      <div class="row profile-actions">
        {{#unless view.subscribedTo}}
          <a {{action subscribeTo target="view"}}>{{t label.subscribe}}</a>
        {{/unless}}
      </div>
    {{/if}}
  {{/unless}}

  <div class="posts">
    <ul class="media-list">
      {{each controller.posts itemViewClass="App.PartialPostView"}}
    </ul>

    {{view App.Pagination}}
  </div>
</script>

<script type="text/x-handlebars" id="post">
  <div class="media a-post">
    <div class="pull-left">
      <img class="media-object" src="/img/64x64.png">
    </div>
    
    <div class="media-body post">
      <!-- FIXME: showUserTimeline createdBy.username is undefined on a deserialized view -->
      <h5 class="media-heading author">
        {{#linkTo user createdBy.username}}{{createdBy.username}}{{/linkTo}}

        {{#if view.groupsNames}}
          ({{#linkTo user view.groupsNames}}{{view.groupsNames}}{{/linkTo}})
        {{/if}}
      </h5>
    
      {{#if view.isEditFormVisible}}
        {{#view App.EditPostForm}}
          <div class="edit-post-form media">
            <div class="media-body">
              <div>
                {{view App.CreatePostView target="view"
                      action="updatePost" valueBinding="view.body"
                      class="span8 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action updatePost target="view"}} class="btn btn-small">{{t button.post}}</button>
                <a {{action toggleVisibility target="view"}}>{{t label.cancel}}</a>
              </div>
            </div>
          </div>
        {{/view}}
      {{else}}
        <div class="body">
          <div class="text">{{body}}</div>

          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>
      {{/if}}
    
      <div class="tagline">
        {{#linkTo 'post' this class="datetime"}}<time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>{{/linkTo}}

        {{#if currentUser}}
          {{#view App.CommentPostView}}
            -
            <a {{action toggleVisibility target="view"}}>{{t label.comment}}</a>
          {{/view}}

          {{#unless currentUserLiked}}
            -
            <a {{action like target="controller"}}>{{t label.like}}</a>
          {{/unless}}

          {{#if view.postOwner}}
            <span class="links">
              (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
              |
              <a {{action destroy target="controller"}}>{{t label.delete}}</a>)
            </span>
          {{/if}}
        {{/if}}
      </div>
    
      {{#if anyLikes}}
        <div class="media likes">
          <div class="pull-left">
            <i class="icon-heart media-object"></i>
          </div>

          <div class="media-body">
            <ul class="unstyled inline pull-left">
              {{view Ember.CollectionView contentBinding="likes"
                     itemViewClass="App.LikeView"}}
            </ul>
            <span class="liked">{{t label.liked}}</span>
            {{#if currentUserLiked}}
              <span>(<a {{action unlike target="controller"}}>{{t label.unlike}}</a>)</span>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <ul class="unstyled comments">
        {{view Ember.CollectionView contentBinding="comments"
               itemViewClass="App.CommentContainerView"}}
      </ul>
    
      {{#view App.CommentForm}}
        <div class="comment-form media">
          <i class="icon-comment-alt media-object pull-left"></i>
          <div class="media-body">
            <div>
              {{view App.CreateCommentView target="view"
                    action="submitComment" valueBinding="view.body"
                    class="span7 input-tiny comment-area"}}
            </div>
            <div>
              <button {{action submitComment target="view"}} class="btn btn-small">{{t button.post}}</button>
              <a {{action cancelComment target="view"}}>{{t label.cancel}}</a>
            </div>
          </div>
        </div>
      {{/view}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="subscriptions">
  <h3>{{t header.subscriprions}} {{App.subscriptionsController.username}}</h3>

  <ul>
    {{#each content}}
      <li>{{#linkTo user user.username}}{{user.username}}{{/linkTo}}</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" id="error">
  <h3>{{t header.notFound}}</h3>
  <p>{{t message.notFound}}</p>
</script>

<script type="text/x-handlebars" id="subscribers">
  <h3>{{t header.subscribers}} {{#linkTo user App.subscribersController.username}}{{App.subscribersController.username}}{{/linkTo}}</h3>

  <h3>{{t header.members}}</h3>
  <ul>
    {{#each content}}
      {{#unless isAdmin}}
        <li>
          {{#linkTo user username}}{{username}}{{/linkTo}}

          {{#if view.isOwner}}
            {{#if view.showManagement}}
              (
              <a {{action removeSubscriber id target='App.subscribersController' href="true"}}>{{t label.remove}}</a>
              {{#if view.hasAdmins}}
                |
                {{#unless isAdmin}}
                  <a {{action addAdmin id target='App.subscribersController' href="true"}}>{{t label.makeAdmin}}</a>
                {{/unless}}
              {{/if}}
              )
            {{/if}}
          {{/if}}
        </li>
      {{/unless}}
    {{/each}}
  </ul>

  {{#if view.hasAdmins}}
    <h3>{{t header.admins}}</h3>
    <ul>
      {{#each content}}
        {{#if isAdmin}}
          <li>
            {{#linkTo user username}}{{username}}{{/linkTo}}
              {{#if view.isOwner}}
                {{#if view.showManagement}}
                  (
                  <a {{action removeAdmin id target='App.subscribersController' href="true"}}>{{t label.removeAdminRights}}</a>
                  )
                {{/if}}
              {{/if}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if view.isOwner}}
    {{#if view.showManagement}}
      {{#linkTo feedSubscribers App.subscribersController.username}}{{t label.browseSubscribers}}{{/linkTo}}
    {{else}}
      {{#linkTo manageSubscribers App.subscribersController.username}}{{t label.manageSubscribers}}{{/linkTo}}
    {{/if}}
  {{/if}}
</script>

<script type="text/x-handlebars" id="top-view">
  <h3>{{t header.top}} {{App.topController.category}}</h3>

  <ul>
    {{#each content}}
      <li>{{#linkTo user username}}{{username}}{{/linkTo}}</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" id="create-group">
  <div class="span3">
    <h2>{{t header.createGroup}}</h2>

    <form action="/signup" method="post" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">Group name</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="name" type="text" id="name" name="name"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls span2">
          <button {{action create}} class="btn btn-primary">{{t button.create}}</button>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/x-handlebars" id="signup">
  <div class="span3">
    <h2>{{t header.signUp}}</h2>

    <form action="/signup" method="post" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">{{t label.username}}</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="username" type="text" id="username" name="username"}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">{{t label.password}}</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="password" type="password" id="password" name="password"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls span2">
          <button {{action signup}} class="btn btn-primary">{{t button.signUp}}</button>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/x-handlebars" id="signin">
  <div class="span3">
    <h2>Sign in</h2>

    <form action="/session" method="post" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">{{t label.username}}</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="username" type="text" id="username" name="username"}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">{{t label.password}}</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="password" type="password" id="password" name="password"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls span2">
          <button {{action signin}} class="btn btn-primary">{{t button.signIn}}</button>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/javascript">
  var currentUser
  var currentUsername
  var isAnonymousPermitted
  <% if (req.user) { %>
    currentUser = '<%= req.user.id %>'
    var currentUsername = '<%= req.user.username %>'
    isAnonymousPermitted = '<%= req.isAnonymousPermitted %>'
  <% } %>

  function preloadFunc() {
    Config.loadScripts()
  }
  window.onpaint = preloadFunc();
</script>

