<% layout('../../layouts/ember.ejs') -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/holder.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/handlebars-1.0.rc.3.js"></script>
<script src="/js/libs/jquery.anchorlinks.js"></script>
<script src="/js/libs/jquery.hashtags.js"></script>
<script src="/js/libs/jquery.highlight-search-results.js"></script>
<script src="/js/libs/jquery.expander.min.js"></script>
<script src="/js/libs/jquery.autogrow-textarea.js"></script>
<script src="/js/libs/core_ext.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap.file-input.js"></script>
<script src="/js/libs/ember-1.0.0-rc.1.js"></script>
<script src="/js/libs/ember-bootstrap.prod.js"></script>

<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1 class="title">
          <a href="/">Pepyatka</a> <small class="mutted">0.0.3</small>
        </h1>
      </div>
	  <div class="span4 searchFieldView">
        <div>
          {{view App.CreateSearchFieldView target="parentView" action="searchPhrase"
                class="span3"}}
          <button {{action searchPhrase target="view"}} class="btn pull-right">Search</button>
        </div>
      </div>

      <% if (!req.user || req.user.username == 'anonymous') { %>
        <div class="span3 signin-toolbar">
          <a href="/session">Sign in</a>
          or
          <a href="/signup">Join Pepyatka</a>
        </div>
      <% } %>
    </div>

    <div class="row">
      <div class="span9">
        {{outlet}}
      </div>

      <div class="span3">
        <% if (req.user) { %>
          <div class="media profile">
            <div class="pull-left">
              <img class="media-object" src="/img/48x48.png">
            </div>

            <div class="media-body">
              <div class="author">
                <a><%= req.user.username %></a>
              </div>
              <div>

                <a>settings</a>
                -
                <a href="/logout">sign out</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <% include ../../layouts/_footer %>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="pagination">
  <ul class="pager">
    {{#if prevPageVisible}}
      <li {{bindAttr class="prevPageDisabled"}}><a {{action prevPage href="true" target="App.postsController"}}>&larr; Previous</a></li>
    {{else}}
      <li {{bindAttr class="prevPageDisabled"}}><a>&larr; Previous</a></li>
    {{/if}}

    {{#if nextPageVisible}}
      <li {{bindAttr class="nextPageDisabled"}}><a {{action nextPage href="true" target="App.postsController"}}>Next &rarr;</a></li>
    {{else}}
      <li {{bindAttr class="nextPageDisabled"}}><a>Next &rarr;</a></li>
    {{/if}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="search-pagination">
  <ul class="pager">
    {{#if prevPageVisible}}
      <li {{bindAttr class="prevPageDisabled"}}><a {{action prevPage href="true" target="App.searchController"}}>&larr; Previous</a></li>
    {{else}}
      <li {{bindAttr class="prevPageDisabled"}}><a>&larr; Previous</a></li>
    {{/if}}

    {{#if nextPageVisible}}
      <li {{bindAttr class="nextPageDisabled"}}><a {{action nextPage href="true" target="App.searchController"}}>Next &rarr;</a></li>
    {{else}}
      <li {{bindAttr class="nextPageDisabled"}}><a>Next &rarr;</a></li>
    {{/if}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="just-started">
  {{#if view.justStarted}}
    <div class="alert alert-info">
      Seems like you've just started using Pepyatka? {{#if view.isAnonymousPermitted}}Check out <a href="/#/users/anonymous">anonymous posts</a>.{{/if}}<button class="close" data-dismiss="alert">&times;</button>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="search-list-view">
  <div class="offset4 spinner">
    <img src="/img/spinner.gif" width="32" height="32" />
  </div>

  <div class="posts">
    <ul class="media-list">
      {{view Ember.CollectionView contentBinding="App.searchController"
             itemViewClass="App.PostContainerView"}}
    </ul>

    {{view App.SearchPagination}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="post-list-view">
  <% if (req.user) { %>
    <div class="clearfix submitForm">
      <div>
        {{view App.CreatePostView target="parentView" action="submitPost"
              class="span9"}}
      </div>
      <div class="pull-left">
        Add image: {{view App.UploadFileView name="image"}}
      </div>
      <div class="pull-right">
        <button {{action submitPost target="view"}} class="btn pull-right">Post</button>
      </div>
    </div>
  <% } %>

  <div id="progressBar" {{bindAttr class="App.postsController.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true 
        progressBinding="App.postsController.progress"}}
  </div>

  {{view App.JustStarted}}

  <div class="offset4 spinner">
    <img src="/img/spinner.gif" width="32" height="32" />
  </div>

  <div class="posts">
    <ul class="media-list">
      {{view Ember.CollectionView contentBinding="App.postsController"
             itemViewClass="App.PostContainerView"}}
    </ul>

    {{view App.Pagination}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="comment-view">
  <li class="media">
    {{#with view.content}}
      <div class="pull-left">
        <i class="icon-comment-alt media-object"></i>
      </div>
      <div class="media-body">
        <span class="body">
          {{body}}
        </span>
        - 
        <span class="author">
          <a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a>
        </span>
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="like-view">
  {{#with view.content}}
    <span class="and">and&nbsp;</span><a {{action showUserTimeline username href="true"}}>{{username}}</a><span class="comma">,&nbsp;</span>
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="post-view">
  {{#with view.content}}
    <li class="media post-container">
      <hr/>
      
      <div class="pull-left">
        <img class="media-object" src="/img/48x48.png">
      </div>

      <div class="media-body post">
        <h5 class="media-heading author"><a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a></h5>

        <div class="body">
          <div class="text">{{body}}</div>
          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>

        <div class="tagline">
          <a {{action showPost this href="true"}} class="datetime">
            <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
          </a>

          {{#if currentUser}}
            {{#view App.CommentPostView}}
              -
              <a {{action toggleVisibility target="parentView"}}>Comment</a>
            {{/view}}

            {{#unless currentUserLiked}}
              {{#view App.LikePostView}}
                -
                <a {{action likePost target="parentView"}}>Like</a>
              {{/view}}
            {{/unless}}
          {{/if}}
        </div>

        {{#if anyLikes}}
          <div class="media likes">
            <div class="pull-left">
              <i class="icon-heart media-object"></i>
            </div>

            <div class="media-body">
              <ul class="unstyled inline pull-left">
                {{view Ember.CollectionView contentBinding="likes"
                       itemViewClass="App.LikeView"}}
              </ul>
              <span>liked this</span>
              {{#if currentUserLiked}}
                <span>(<a {{action unlikePost id target="parentView"}}>Un-like</a>)</span>
              {{/if}}
            </div>
          </div>
        {{/if}}
    
        <ul class="unstyled comments">
          {{#if partial}}
            {{view App.CommentContainerView contentBinding="firstComment"}}
            <li class="media more-comments">
              <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} more comments</a>
            </li>
            {{view App.CommentContainerView contentBinding="lastComment"}}
          {{else}}
            {{view Ember.CollectionView contentBinding="comments"
                   itemViewClass="App.CommentContainerView"}}

            {{#view App.CommentPostViewSubst}}
              <li class="media new-comment-link">
                <i class="icon-pencil media-object pull-left"></i>
                <div class="media-body">
                    <a {{action toggleVisibility target="view"}}>Add comment</a>
                </div>
              </li>
            {{/view}}
          {{/if}}
        </ul>
    
        {{#view App.CommentForm}}
          <div class="comment-form media">
            <i class="icon-comment-alt media-object pull-left"></i>
            <div class="media-body">
              <div>
                {{view App.CreateCommentView target="parentView"
                      action="submitComment" valueBinding="view.body"
                      class="span8 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
                <a {{action toggleVisibility target="parentView"}}>Cancel</a>
              </div>
            </div>
          </div>
        {{/view}}
      </div>
    </li>
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="own-post-view">
  <li class="media">
    {{#with view.content}}
      <hr/>

      <div class="media-body post">
        <div class="body">
          <div class="text">{{body}}</div>
          {{#if firstThumbnailSrc}}
            <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
          {{/if}}
        </div>

        <div class="tagline">
          <a {{action showPost this href="true"}} class="datetime">
            <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
          </a>

          {{#if currentUser}}
            {{#view App.CommentPostView}}
              -
              <a {{action toggleVisibility target="parentView"}}>Comment</a>
            {{/view}}

            {{#unless currentUserLiked}}
              {{#view App.LikePostView}}
                -
                <a {{action likePost target="parentView"}}>Like</a>
              {{/view}}
            {{/unless}}
          {{/if}}
        </div>

        {{#if anyLikes}}
          <div class="media likes">
            <div class="pull-left">
              <i class="icon-heart media-object"></i>
            </div>

            <div class="media-body">
              <ul class="unstyled inline pull-left">
                {{view Ember.CollectionView contentBinding="likes"
                       itemViewClass="App.LikeView"}}
              </ul>
              <span>liked this</span>
              {{#if currentUserLiked}}
                <span>(<a {{action unlikePost id target="parentView"}}>Un-like</a>)</span>
              {{/if}}
            </div>
          </div>
        {{/if}}

        <ul class="unstyled comments">
          {{#if partial}}
            {{view App.CommentContainerView contentBinding="firstComment"}}
            <li class="media more-comments">
              <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} more comments</a>
            </li>
            {{view App.CommentContainerView contentBinding="lastComment"}}
          {{else}}
            {{view Ember.CollectionView contentBinding="comments"
                   itemViewClass="App.CommentContainerView"}}

            {{#view App.CommentPostViewSubst}}
              <li class="media new-comment-link">
                <i class="icon-pencil media-object pull-left"></i>
                <div class="media-body">
                    <a {{action toggleVisibility target="view"}}>Add comment</a>
                </div>
              </li>
            {{/view}}
          {{/if}}
        </ul>

        {{#view App.CommentForm}}
          <div class="comment-form media">
            <i class="icon-comment-alt media-object pull-left"></i>
            <div class="media-body">
              <div>
                {{view App.CreateCommentView target="parentView"
                      action="submitComment" valueBinding="view.body"
                      class="span8 input-tiny comment-area"}}
              </div>
              <div>
                <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
                <a {{action toggleVisibility target="parentView"}}>Cancel</a>
              </div>
            </div>
          </div>
        {{/view}}
      </div>
    {{/with}}
  </li>
</script>

<script type="text/x-handlebars" data-template-name="user-timeline">
  <div class="row">
    <div class="span9 media">
      <div class="pull-left">
        <img class="media-object" src="/img/64x64.png">
      </div>

      <div class="media-body">
        <h3 class="pull-left">{{content.user.username}}</h3>

        <div class="pull-right profile-extra-info">
          <div>Subscriptions: {{content.user.subscriptionsLength}}</div>
          <div>Subscribers: {{content.user.subscribersLength}}</div>
        </div>
      </div>
    </div>
  </div>

  {{#unless content.user.ownProfile}}
    {{#if view.currentUser}}
      <div class="row profile-actions">
        {{#if content.user.subscribedTo}}
          <a {{action unsubscribeTo target="view"}}>Unsubscribe</a>
        {{/if}}

        {{#unless content.user.subscribedTo}}
          <a {{action subscribeTo target="view"}}>Subscribe</a>
        {{/unless}}
      </div>
    {{/if}}
  {{/unless}}

  <div class="posts">
    <ul class="media-list">
      {{view Ember.CollectionView contentBinding="App.postsController"
             itemViewClass="App.OwnPostContainerView"}}
    </ul>

    {{view App.Pagination}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="a-post">
  <div class="media a-post">
    <div class="pull-left">
      <img class="media-object" src="/img/64x64.png">
    </div>
    
    <div class="media-body post">
      <!-- FIXME: showUserTimeline createdBy.username is undefined on a deserialized view -->
      <h5 class="media-heading author"><a {{action showUserTimeline createdBy.username href="true"}}>{{createdBy.username}}</a></h5>
    
      <div class="body">
        <div class="text">{{body}}</div>
        {{#if firstThumbnailSrc}}
          <div class="image"><a {{bindAttr href="firstImageSrc"}}><img {{bindAttr src="firstThumbnailSrc"}} class="img-polaroid" /></a></div>
        {{/if}}
      </div>
    
      <div class="tagline">
        <a {{action showPost this}} class="datetime">
          <time {{bindAttr datetime="createdAt"}}>{{createdAgo}}</time>
        </a>
        {{#if currentUser}}
          {{#view App.CommentPostView}}
            -
            <a {{action toggleVisibility target="parentView"}}>Comment</a>
          {{/view}}

          {{#unless currentUserLiked}}
            {{#view App.LikePostView}}
              -
              <a {{action likePost target="parentView"}}>Like</a>
            {{/view}}
          {{/unless}}
        {{/if}}
      </div>
    
      {{#if anyLikes}}
        <div class="media likes">
          <div class="pull-left">
            <i class="icon-heart media-object"></i>
          </div>

          <div class="media-body">
            <ul class="unstyled inline pull-left">
              {{view Ember.CollectionView contentBinding="likes"
                     itemViewClass="App.LikeView"}}
            </ul>
            <span>liked this</span>
            {{#if currentUserLiked}}
              <span>(<a {{action unlikePost target="parentView"}}>Un-like</a>)</span>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <ul class="unstyled comments">
        {{view Ember.CollectionView contentBinding="comments"
               itemViewClass="App.CommentContainerView"}}
      </ul>
    
      {{#view App.CommentForm}}
        <div class="comment-form media">
          <i class="icon-comment-alt media-object pull-left"></i>
          <div class="media-body">
            <div>
              {{view App.CreateCommentView target="parentView"
                    action="submitComment" valueBinding="view.body"
                    class="span7 input-tiny comment-area"}}
            </div>
            <div>
              <button {{action submitComment target="view"}} class="btn btn-small">Post</button>
              <a {{action toggleVisibility target="parentView"}}>Cancel</a>
            </div>
          </div>
        </div>
      {{/view}}
    </div>
  </div>
</script>

<script>
  var currentUser
  var isAnonymousPermitted
  <% if (req.user) { %>
    currentUser = '<%= req.user.id %>'
    isAnonymousPermitted = '<%= req.isAnonymousPermitted %>'
  <% } %>
</script>

<script src="/js/app/app.js"></script>
