<% layout('../../layouts/layout.ejs') -%>

<% if (logged_in()) { %>
  Hello, <%= current_user.username %>.
<% } %>

<h1>FF/B</h1>
<p>Welcome to FF/B</p>

<form method="post" action="/posts">
  <input type="text" name="body" />
  <input type="submit" value="post" />
</form>
