<% layout('../../layouts/layout.ejs') -%>

<!-- script src="/socket.io/socket.io.js"></script -->
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/handlebars-1.0.rc.1.js"></script>
<script src="/js/libs/ember-1.0.0-pre.2.min.js"></script>

<script type="text/x-handlebars" data-template-name="application">
  <h1>ff/b/</h1>

  {{view App.CreatePostView target="App.PostsController" action="submitPost" }}
  {{#view Ember.Button target="App.PostsController" action="submitPost"}}
    Post
  {{/view}}

  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="post-list-view">
  {{view Ember.CollectionView contentBinding="App.PostsController"
         itemViewClass="App.PostContainer"}}
</script>

<script type="text/x-handlebars" data-template-name="post-view">
  {{#with view.content}}  
    <div>{{user.username}}</div>
    <div>{{body}}</div>
    <div>
      <a {{action showPost this}}>
        <time datetime="{{created_at}}">{{created_at}}</time>
      </a> 
      -
      {{#view App.CommentPostView target="parentView" action="toggleVisibility"}}
        Comment
      {{/view}}
    </div>

    <div>
      {{#view App.CommentForm isVisibleBinding="isFormVisible" }}
        {{view Ember.TextField}}
      {{/view}} 
    </div>

    <div>
      <ul>
      {{#each comment in comments}}
        <li>{{comment.body}} - {{comment.user.username}}</li>
      {{/each}}
      </ul>
    </div>
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="a-post">
  <p><a {{action showAllPosts}}>All posts</a></p>

  {{body}}

  <ul>
  {{#each comment in comments}}
    <li>{{comment.body}}</li>
  {{/each}}
  </ul>
</script>

<script src="/js/app/app.js"></script>

<script>
  // var socket = io.connect('http://localhost:3000');

  // socket.emit('subscribe', { });

  // socket.on('message', function (data) {
  //   console.log(data);
  // });

  // socket.on('comment', function (data) {
  //   console.log(data);
  // });
</script>
