<% layout('../../layouts/layout.ejs') -%>

<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h1><a {{action showAllPosts}}>ff/b/</a></h1>

    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="post-list-view">
  <div>
    <div>
      {{view App.CreatePostView target="App.postsController" action="submitPost" }}
    </div>
    <div>
      <button {{action submitPost target="App.postsController"}}>Post</button>
    </div>
  </div>

  <ul>
    {{view Ember.CollectionView contentBinding="App.postsController"
           itemViewClass="App.PostContainerView"}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="post-view">
  {{#with view.content}}  
    <div>{{user.username}}</div>
    <div>{{body}}</div>
    <div>
      <a {{action showPost this}}>
        <time datetime="{{created_at}}">{{created_ago}}</time>
      </a>
      -
      {{#view App.CommentPostView target="parentView" action="toggleVisibility"}}
        Comment
      {{/view}}
    </div>

    <div>
      <ul>
      {{#each comment in comments}}
        <li>{{comment.body}} - {{comment.user.username}}</li>
      {{/each}}
      </ul>
    </div>

    {{#view App.CommentForm}}
      <div>
        <div>
          {{view App.CreateCommentView target="parentView" 
                action="submitComment" valueBinding="view.body"}}
        </div>
        <div>
          <button {{action submitComment target="view"}}>Post</button>
          <a {{action toggleVisibility target="view"}}>Cancel</a>
        </div>
      </div>
    {{/view}} 
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="a-post">
  <p><a {{action showAllPosts}}>All posts</a></p>

    <div>{{user.username}}</div>
    <div>{{body}}</div>
    <div>
      <time>{{created_at}}</time>
      -
      {{#view App.CommentPostView target="parentView" action="toggleVisibility"}}
        Comment
      {{/view}}
    </div>

    <div>
      <ul>
      {{#each comment in comments}}
        <li>{{comment.body}} - {{comment.user.username}}</li>
      {{/each}}
      </ul>
    </div>

    {{#view App.CommentForm}}
      <div>
        <div>
          {{view App.CreateCommentView target="parentView" 
                action="submitComment" valueBinding="view.body"}}
        </div>
        <div>
          <button {{action submitComment target="view"}}>Post</button>
          <a>Cancel</a>
        </div>
      </div>
    {{/view}} 
</script>

<script src="/js/app/app.js"></script>

<script>
  var socket = io.connect('/');

  socket.emit('subscribe', { username: '<%= current_user.username %>' });

  socket.on('post', function (attrs) {
    // console.log(attrs);

    var post = App.Post.create(attrs.post)
   
    App.postsController.addObject(post)
  });

  socket.on('comment', function (attrs) {
    // console.log(attrs);

    var comment = App.Comment.create(attrs.comment)
   
    var post = App.postsController.find(function(post) {
      return post.id == attrs.comment.post_id
    })

    post.set('updated_at', comment.created_at)
    
    post.comments.pushObject(comment)
  });
</script>
