<% layout('../../layouts/layout.ejs') -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/ember-1.0.0-pre.2.min.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');

  socket.emit('subscribe', { });

  socket.on('message', function (data) {
    console.log(data);
  });

  socket.on('comment', function (data) {
    console.log(data);
  });
</script>

<h1>ff/b/</h1>

<% if (logged_in()) { %>
  <p>Hello, <%= current_user.username %>.</p>
<% } %>

<form method="post" action="/posts">
  <input type="text" name="body" />
  <input type="submit" value="post" />
</form>

<ul>
  <% _.each(posts, function(post) { %>
    <li>
      <%= post.body %>
      <form method="post" action="/comments">
        <input type="text" name="body" />
        <input type="hidden" name="post_id" value="<%= post.id %>" />
        <input type="submit" value="post" />
      </form>
    </li>
  <% }) %>
</ul>
